@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=DM+Serif+Display:ital@0;1&family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&family=Inter:wght@100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Karla:ital,wght@0,200..800;1,200..800&family=Lexend+Deca:wght@100..900&family=Manrope:wght@200..800&family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&family=Outfit:wght@100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&family=Work+Sans:ital,wght@0,100..900;1,100..900&family=Young+Serif&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

body {
  background-color: #c5e4e7;
  margin: 0;
  padding: 0;
  height: 100vh;
}

.logo {
  display: flex;
  justify-content: center;
  margin-top: 70px;
}

.maincontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-top: -90px;
  font-family: "Space Mono";
}

.card {
  display: flex;
  margin: auto;
  background-color: white;
  height: 400px;
  width: 55%;
  border-radius: 20px;
  box-shadow: 0 2px 100px rgba(79, 115, 141, 0.08);
}

.rightside,
.leftside {
  display: flex;
  flex-direction: column;
}

.leftside {
  width: 45%;
  padding: 40px;
}

.rightside {
  background-color: #00474b;
  height: 74%;
  width: 35%;
  border-radius: 15px;
  padding: 30px;
  margin-top: 22px;
  margin-bottom: 17px;
  margin-right: 25px;
}

.sectiontitle1,
.sectiontitle2,
.sectiontitle3 {
  color: #5f7371;
  font-weight: 550;
  font-size: 14px;
}

.bill {
  margin-top: -12px;
}

.errormessage1 {
  display: none;
  color: #ff4242;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  margin-left: 228px;
}

.bill img {
  position: absolute;
  margin-left: 13px;
  margin-top: 11px;
}

.billamount {
  height: 37px;
  width: 87%;
  padding-right: 10px;
  background-color: #f3f8fb;
  color: #0f5354;
  font-family: "Space Mono";
  font-size: 20px;
  font-weight: 600;
  text-align: right;
  border-radius: 5px;
  border: none;
}

.billamount::placeholder {
  color: #9eb7b6;
}

.billamount:focus {
  outline: #41b4a5 solid 2px;
}

.billamount.invalid:focus {
  outline: #ff4242 solid 2px;
}

.tip {
  margin-top: 12px;
}

.tipcontainer {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}

.tipbutton1,
.tipbutton2,
.tipbutton3,
.tipbutton4,
.tipbutton5 {
  color: #f8fefb;
  background-color: #00474b;
  border: none;
  border-radius: 4px;
  width: 92px;
  height: 42px;
  font-family: "Space Mono";
  font-size: larger;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.tipbutton1.clicked,
.tipbutton2.clicked,
.tipbutton3.clicked,
.tipbutton4.clicked,
.tipbutton5.clicked {
  background-color: #26c2ad;
  color: #00474b;
}

.tipcontainer button:hover {
  color: #013a38;
  background-color: #9fe8df;
}

.tipcustom {
  color: #00474b;
  background-color: #f3f8fb;
  border: none;
  border-radius: 4px;
  width: 88px;
  height: 40px;
  font-family: "Space Mono";
  font-size: larger;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
}

.tipcustom::placeholder {
  color: #537777;
}

.tipcustom:focus {
  outline: #41b4a5 solid 2px;
}

.people {
  margin-top: 12px;
}

.errormessage2 {
  display: none;
  color: #ff4242;
  font-size: 14px;
  font-weight: 500;
  position: absolute;
  margin-left: 228px;
}

.people img {
  position: absolute;
  margin-left: 13px;
  margin-top: 11px;
}

.peoplenumber {
  height: 37px;
  width: 87%;
  padding-right: 10px;
  background-color: #f3f8fb;
  color: #0f5354;
  font-family: "Space Mono";
  font-size: 20px;
  font-weight: 600;
  text-align: right;
  border-radius: 5px;
  border: none;
}

.peoplenumber::placeholder {
  color: #9eb7b6;
}

.peoplenumber:focus {
  outline: #41b4a5 solid 2px;
}

.peoplenumber.invalid:focus {
  outline: #ff4242 solid 2px;
}

.price h1 {
  color: #1dc0a8;
  letter-spacing: 0.8px;
}

.amount,
.total {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.amount h3,
.total h3 {
  color: #edfdfd;
  font-size: 13px;
}

.total {
  margin-top: -6px;
}

span {
  color: #7cacb0;
  font-size: 12px;
}

.calculatebutton:hover {
  color: #0d686d;
  background-color: #9fe8df;
}

.resetbutton {
  color: #9fe8df;
  background-color: #0d686d;
  width: 100%;
  height: 45px;
  border: none;
  border-radius: 4px;
  font-family: "Space Mono";
  font-size: 17px;
  font-weight: 600;
  text-align: center;
  margin-top: 90px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.resetbutton:hover {
  color: #0d686d;
  background-color: #9fe8df;
}

.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 11px;
  color: black;
  font-family: "Nunito Sans";
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

@media screen and (max-width: 1300px) {
  .card {
    height: 450px;
    width: 70%;
  }

  .rightside {
    height: 77%;
  }

  .resetbutton {
    margin-top: 130px;
  }
}

@media screen and (max-width: 1100px) {
  .card {
    width: 60%;
  }

  .resetbutton {
    margin-top: 140px;
  }
}

@media screen and (max-width: 1000px) {
  .card {
    width: 70%;
  }
}

@media screen and (max-width: 950px) {
  .resetbutton {
    margin-top: 130px;
  }

  .rightside {
    height: 80%;
  }
}

@media screen and (max-width: 900px) {
  .card {
    width: 80%;
    height: 500px;
  }

  .tipbutton1,
  .tipbutton2,
  .tipbutton3,
  .tipbutton4,
  .tipbutton5 {
    width: 50px;
  }

  .amount {
    flex-direction: column;
  }

  .total {
    flex-direction: column;
  }

  .resetbutton {
    margin-top: 15px;
  }
}

@media screen and (max-width: 585px) {
  .logo {
    margin-bottom: 200px;
  }

  .card {
    flex-direction: column;
    height: 750px;
    width: 65%;
  }

  .rightside {
    width: 60%;
    height: 27%;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-right: 0px;
    margin-left: 50px;
  }

  .amount {
    flex-direction: row;
  }

  .total {
    flex-direction: row;
  }

  .resetbutton {
    margin-top: 5px;
  }

  .footer {
    margin-bottom: -350px;
  }
}
